<ion-view flex layout="column" class="splash">
        <div flex>
            <div layout="column" layout-align="space-around center">
                <div layout="column" layout-align="end center" class="logo" flex>
                    <h1 class="white-text">Clikd</h1>
                    <h4 class="white-text">You may just click</h4>
                </div>

                <div flex layout="column" layout-align="end center" class="connect-section">
                    <h3 class="white-text">CONNECT USING</h3>
                    <button class="md-raised md-primary button-large ion-left ion-social-facebook button-positive" ng-click="fbLogin()">
                        <span ng-click="fbLogin()">Sign in with <strong>Facebook</strong></span>
                    </button>
                </div>
            </div>
        </div>
</ion-view>
